{{!
	The body HTML for the photo page
}}
<section class="caption">
	<h1 class="hidden">Caption</h1>
    {{{description}}}
</section>
<section class="photo-container">
	<h1 class="hidden">Photo</h1>
	<img src="http://tacocat.com/pictures/d/{{id}}-3/{{pathComponent}}" style="max-width: {{width}}px; max-height: {{height}}px" />
</section>