<article class="thumbnail">
	<a href="#{{url}}"><img src="{{thumbnail.url}}" width="{{thumbnail.width}}px" height="{{thumbnail.height}}px" alt="{{thumbnail.title}}"/></a>
	<a href="#{{url}}" style="width:{{thumbnail.width}}px" class="title"><h1>{{title}}</h1></a>
</article>